*{
	margin:0;
	padding:0; 
}
.bgimage{
	background-image: url('tt.jpg');
	background-size: 100% 110%;
	width:100%;
	height: 100vh;
	
}
.menu{
	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
}
.logo{
	width: 20%;
	line-height: 100px;
	float:left;
	
}
.logo h4{
	padding-left: 70px;
    font-weight: bold;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;


}
#font {
	text-transform: uppercase;
}
.rightmenu{
	width:75%;
	float: right;
}
.rightmenu ul{
	margin-left:400px;
}
.rightmenu ul li{
	display: inline-block;
	text-transform: uppercase;
	margin-left: 40px;
	line-height: 100px;
	color: white;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}
#first{
	color: orange;
}
.rightmenu ul li:hover{
color: orange;
}
.text{
	text-align: center; 
	margin-top: 180px;
	width: 100%;
	color: white;
	font-family: 'Montserrat', sans-serif;
}	
.name{
	margin-top: 20px;
	font-weight: bold;
	text-transform: uppercase;

}
.developer{
	margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: orange;
}

.para{
	font-weight: bold;
	margin-bottom: 20px;
    
}
#tech{
	margin-bottom: 10px;
}
#tech1{
	text-transform: uppercase;
	font-weight: bold;
	display: inline-grid;
}
.media{
	margin-top: 10px;
	width: 100%;
	height: 60px;
	margin-left: 40%;

}
#fb{
	background-color: navy;
	border: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	width: 150px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 25px;
	border: 3px solid black;
	color: white;
}
#two{
	background-color: green;
	border: none;
	font-family: 'Montserrat', sans-serif;
	/*text-transform: uppercase;*/
	font-weight: bold;
	line-height: 40px;
	border: 3px solid black;
	width: 150px;
	color: white;

}
#cs{
	margin-left:100px;
	color: white;
}
#cs:hover{
	color:orange;
}